<%- include("./partials/announcement.ejs", { 
    text: "חיזוקים חינם לכל החיים!", 
    buttonLink: "/pages/terms-of-use", 
    buttonText: "תנאי שימוש" ,
    isSale: false
  }) %>
<%- include("./partials/navbar.ejs", { customClass: customClass }) %>

    <main id="top-app" class="about-us-page mb-3">
        <div class="section-about-us" style="--background: url('<%=s3path  %>/optimized/about.png')">
                <div class="image-text">
                    <h1>על אינוקים</h1>
                    <p> Inokim החל כפרויקט מוסך בשנת 2009 (נקרא MyWay) במטרה העיקרית לצמצם את התלות של הנוסעים ברכבים קונבנציונליים גדולים, גז או חשמלי.</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="container">
            <div class="section-2">
                <%- optimizeImage('/img/all_Scooters.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                <!-- <img src="/img/all_Scooters.png" alt=""> -->
                <div class="text">
                    <h1>אנחנו מאמינים
                    </h1>
                    <p class="border-bottom py-3">  שזה בזבוז מוחלט של משאבים כשמכונית במשקל 1.5 טון נושאת אדם אחד בתנועה איטית. זאת בנוסף לאתגר היומיומי של חניה וזיהום מתמודדים רבים מהנוסעים.

                    </p>
                </div>
            </div>

            <div class="section-3 mb-3">
                <div class="row g-3">

                    <div class="col-12 col-md-6">
                        <%- optimizeImage('/img/inokim-map.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                        <!-- <img src="/img/inokim-map.png" alt=""> -->
                    </div>

                    <div class="col-12 col-md-6">
                    <div class="text p-3">
                        <h1>השפעה גלובלית
                        </h1>
                        <p class="border-bottom py-3"> בשנת 2011 כשהחל ייצור הקורקינט החשמלי הקל משקל של אינוקים, לא יכולנו לדמיין את ההשפעה העולמית שתהיה לו.</p>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                <div class="text">
                    <h1>משפחת אינוקים

                    </h1>
                    <p class="border-bottom py-3"> החל מה-Mini2 הקטנה, דרך ה-Light2, Quick4 וקטנועים עטורי הפרסים OX ו-OXO - לאינוקים יש מגוון רחב של קטנועים שיתאימו למכלול מגוון של צרכי נוסעים. אנו מתכננים את הקורקינטים שלנו כך שיהיו פתרון התחבורה הנייד הטוב ביותר - קל משקל, מתקפל מהיר ועוצמתי - תוך מתן חווית רכיבה מעולה והיות חלק בלתי נפרד מהנסיעה היומית של הרוכבים.

                        סעו בזהירות, חבשו תמיד קסדה והכי חשוב, תהנו!</p>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <%- optimizeImage('/img/6-2.png', 'אינוקים אוקס מקופל', 'lazyload') %>
            </div>

            

                </div>

            
            </div>
        </div>
        <div class="divider mb-3">
          <!-- <img src="/img/Group 359.svg" alt=""> -->
              
          <span>הסטוריה</span> 
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/4.png', 'אינוקים אוקס מקופל', 'lazyload') %>


                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2009</h1>
                        <p class="border-bottom py-3"> נמרוד ספיר רושם פטנט על קורקינט חשמלי מתקפל ראשון עם מנוע רכזת ללא מברשות </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2010</h1>
                        <p class="border-bottom py-3"> ייסוד חברת MyWay</p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/5.png', 'אינוקים אוקס מקופל', 'lazyload') %>


                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/6.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                </div>


                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2011</h1>
                        <p class="border-bottom py-3"> MyWay מתאגת לחברה </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2011</h1>
                        <p class="border-bottom py-3"> קורקינט חשמלי קוויק-1 הושק ויוצר בקנה מידה קטן נעשה במוסך. </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/7.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/7.png" alt=""> -->

                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/9.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/9.png" alt=""> -->

                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2014
                        </h1>
                        <p class="border-bottom py-3"> דגמי MYWAY מותגו מחדש בשם INOKIM קיצור של Innovation Of last Kilometer". </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2015
                        </h1>
                        <p class="border-bottom py-3"> כפיר נלי אחזקות (כפיר בן שושן) הופכת למפיצה בלעדית של חברת "Inokim" ומקימה ערוצי מכירה מסיביים וחנויות דגל ברשת. דרור בן שושן הקים שירות ייעודי ללקוחות, והבין כי קורקינטים חשמליים הם כלי תחבורה לגיטימי הנקרא: מיקרו מוביליטי.". </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/10.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/10.png" alt=""> -->

                </div>


                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/11.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/11.png" alt=""> -->

                </div>


                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2018
                        </h1>
                        <p class="border-bottom py-3"> השקת INOKIM OX, ומקבל פרס Red Dot Design Award עם מערכת מתלים כפולה מתכווננת פטנט נל </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2019
                        </h1>
                        <p class="border-bottom py-3">  השקת הקורקינט הראשון עם שני מנועים </p>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/6-2.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/6-2.png" alt=""> -->

                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/13.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/13.png" alt=""> -->

                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2020
                        </h1>
                        <p class="border-bottom py-3"> השקת דגם הקוויק 4

                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="text">
                        <h1>2022
                        </h1>
                        <p class="border-bottom py-3"> MyWay וכפיר נלי מתמזגים
                            והחברה החדשה נקראת
                            INOKIM Ltd

                        </p>

                        <p>הקמת INOKIM USA

                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <%- optimizeImage('/img/14.png', 'אינוקים אוקס מקופל', 'lazyload') %>

                    <!-- <img src="/img/14.png" alt=""> -->

                </div>

            </div>
        </div>

    </main>

<%- include("./partials/footer.ejs") %>


