

<% if (announcement && announcement.text && announcement.text.trim() !== "") { %>
  <%- include("./partials/announcement.ejs", { 
    text: announcement.text,
    buttonLink: announcement.buttonLink || null,
    buttonText: announcement.buttonText || null,
    isSale: true
  }) %>
<% } %>

<%- include("./partials/navbar.ejs", { customClass: customClass }) %>




<main id="default-product">
    <div class="container mt-5 mb-5">

        <%- include('./partials/breadcrumbs', { breadcrumbs }) %>
        
        <div class="row">
            <div class="col-12 col-md-4 p-3 order-1 order-md-0">

            <!-- <div class="col-12 col-md-4 p-3"> -->
                <div class="d-none d-md-block">
                    <h1 class="d-flex align-items-center prdHeader"> <%= product.name  %> 
                        <img src="/optimized/offitial.jpeg" alt="">
                          
                    </h1>
                    <span id="prdPrice"> <%= formatter.format(product.price)  %> </span>
                </div>
  

                <!-- <div class="description mb-3 border-bottom py-2">
                    <%= product.description  %>
                </div> -->
                <!-- <div class="py-2">
                    <ul class="pdp-list">
                        <li class="py-2">
                            <svg class="as-svgicon-rtl-mirrored as-svgicon as-svgicon-boxtruck as-svgicon-reduced as-svgicon-boxtruckreduced" viewBox="0 0 25 25" role="img" aria-hidden="true" width="25px" height="25px"><path fill="none" d="M0 0h25v25H0z"></path><path fill="#1d1d1f" d="m23.482 12.847-2.92-3.209A1.947 1.947 0 0 0 18.985 9H17V6.495a2.5 2.5 0 0 0-2.5-2.5h-11a2.5 2.5 0 0 0-2.5 2.5v9.75a2.5 2.5 0 0 0 2.5 2.5h.548A2.746 2.746 0 0 0 6.75 21.02 2.618 2.618 0 0 0 9.422 19h6.681a2.744 2.744 0 0 0 5.347-.23h.735A1.656 1.656 0 0 0 24 16.98v-2.808a1.937 1.937 0 0 0-.518-1.325ZM8.426 18.745a1.74 1.74 0 0 1-3.352 0 1.577 1.577 0 0 1 .015-1 1.738 1.738 0 0 1 3.322 0 1.578 1.578 0 0 1 .015 1ZM9.447 18a2.726 2.726 0 0 0-5.394-.255H3.5a1.502 1.502 0 0 1-1.5-1.5v-9.75a1.502 1.502 0 0 1 1.5-1.5h11a1.502 1.502 0 0 1 1.5 1.5V18Zm10.972.77a1.738 1.738 0 0 1-3.337 0 1.573 1.573 0 0 1 0-1 1.742 1.742 0 1 1 3.337 1ZM23 16.98c0 .569-.229.79-.815.79h-.735A2.73 2.73 0 0 0 17 16.165V10h1.986a.976.976 0 0 1 .838.314l2.927 3.214a.95.95 0 0 1 .249.644Zm-1.324-3.36a.512.512 0 0 1 .174.38h-3.306a.499.499 0 0 1-.544-.528V11h1.073a.76.76 0 0 1 .594.268Z"></path></svg>
                            <strong>משלוח:</strong> <span>עד 5 ימי עסקים</span>
                        </li>
                        <li class="py-2">
                                <svg height="511pt" viewBox="0 1 511.99981 511" width="511pt" xmlns="http://www.w3.org/2000/svg"><path d="m506.8125 111.230469-199.40625-109.496094c-2.996094-1.6445312-6.628906-1.6445312-9.625 0l-75.160156 41.269531c-1.585938.417969-3.066406 1.214844-4.292969 2.359375l-119.949219 65.867188c-3.199218 1.753906-5.1875 5.113281-5.1875 8.765625v132.429687c-20.234375 6.328125-38.777344 17.488281-54.195312 32.910157-40.1875 40.183593-50.433594 101.472656-25.496094 152.507812 2.421875 4.960938 8.410156 7.019531 13.371094 4.59375 4.964844-2.425781 7.019531-8.414062 4.597656-13.375-21.1875-43.363281-12.480469-95.4375 21.667969-129.585938 21.355469-21.355468 49.746093-33.117187 79.945312-33.117187s58.589844 11.761719 79.945313 33.117187c21.351562 21.351563 33.113281 49.742188 33.113281 79.941407s-11.761719 58.589843-33.117187 79.945312c-34.148438 34.148438-86.222657 42.855469-129.585938 21.667969-4.960938-2.425781-10.949219-.367188-13.371094 4.59375-2.425781 4.964844-.371094 10.953125 4.59375 13.375 18.589844 9.085938 38.535156 13.5 58.335938 13.5 34.542968-.003906 68.625-13.449219 94.171875-38.996094 11.714843-11.714844 20.972656-25.230468 27.523437-39.921875l43.089844 23.660157c1.5.824218 3.15625 1.234374 4.8125 1.234374s3.316406-.410156 4.8125-1.234374l199.40625-109.492188c3.199219-1.757812 5.1875-5.117188 5.1875-8.765625v-69.496094c0-5.523437-4.476562-10-10-10s-10 4.476563-10 10v63.578125l-179.375 98.496094v-196.171875l59.199219-32.507813v51.53125c0 3.539063 1.867187 6.8125 4.910156 8.609376 1.570313.925781 3.328125 1.390624 5.089844 1.390624 1.65625 0 3.316406-.410156 4.820312-1.238281l42.730469-23.519531c3.195312-1.757812 5.175781-5.113281 5.175781-8.757812v-62.460938l57.449219-31.542969v52.597657c0 5.523437 4.476562 10 10 10s10-4.476563 10-10v-69.496094c0-3.648438-1.988281-7.011719-5.1875-8.765625zm-204.21875-89.324219 178.628906 98.089844-56.347656 30.941406-178.628906-98.089844zm0 196.175781-178.628906-98.085937 58.414062-32.078125 178.632813 98.085937zm79.191406-43.484375-178.628906-98.085937 22.3125-12.253907 178.632812 98.085938zm-154.617187 110.738282c-25.132813-25.132813-58.546875-38.972657-94.085938-38.972657-6.722656 0-13.363281.496094-19.890625 1.46875v-110.9375l179.4375 98.53125v196.171875l-31.144531-17.101562c3.066406-11.289063 4.652344-23.0625 4.652344-35.078125 0-35.539063-13.839844-68.953125-38.96875-94.082031zm187.386719-60.347657-22.730469 12.511719v-45.597656l22.730469-12.480469zm0 0"></path><path d="m502 219.441406c-2.628906 0-5.210938 1.070313-7.070312 2.929688-1.859376 1.859375-2.929688 4.4375-2.929688 7.070312 0 2.628906 1.070312 5.207032 2.929688 7.066406 1.859374 1.863282 4.441406 2.929688 7.070312 2.929688s5.210938-1.066406 7.070312-2.929688c1.859376-1.859374 2.929688-4.4375 2.929688-7.066406 0-2.632812-1.070312-5.210937-2.929688-7.070312-1.859374-1.859375-4.441406-2.929688-7.070312-2.929688zm0 0"></path><path d="m99.457031 389.417969c2.558594 0 5.121094-.976563 7.070313-2.925781 3.90625-3.90625 3.90625-10.238282 0-14.144532l-6.925782-6.929687h59.101563c14.335937 0 26 11.664062 26 26 0 14.335937-11.664063 26-26 26h-35.019531c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 9.996093 10 9.996093h35.019531c25.363281 0 46-20.632812 46-45.996093s-20.636719-45.996094-46-45.996094h-59.101563l6.925782-6.929687c3.90625-3.90625 3.90625-10.238282 0-14.144532-3.902344-3.902344-10.234375-3.902344-14.140625 0l-24 24c-3.902344 3.90625-3.902344 10.238282 0 14.144532l24 23.996093c1.953125 1.953125 4.511719 2.929688 7.070312 2.929688zm0 0"></path><path d="m46.074219 476.449219c-2.84375 0-5.667969-1.210938-7.640625-3.558594l-.019532-.023437c-3.554687-4.226563-3.007812-10.53125 1.21875-14.085938 4.226563-3.558594 10.535157-3.011719 14.089844 1.214844 3.550782 4.230468 3.015625 10.546875-1.210937 14.101562-1.878907 1.578125-4.164063 2.351563-6.4375 2.351563zm0 0"></path></svg>      
                             <strong>איסוף עצמי:</strong>
                             <ul>
                              <li> <span>זמין בסניף הבורסה</span></li>
                              <li> <span>זמין בסניף חיפה</span></li>
                             </ul>
                        </li>
                        <li class="py-2">
                            <svg id="Layer_1" enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><path d="m10 16v22c0 .3.1.6.2.8.3.6 6.5 13.8 21 20h.1.1c.2 0 .3.1.5.1s0 0 0 0c.2 0 .3 0 .5-.1h.1.1c14.5-6.2 20.8-19.4 21-20 .1-.3.2-.5.2-.8v-22c0-.9-.6-1.7-1.5-1.9-7.6-1.9-19.3-9.6-19.4-9.7-.1-.1-.2-.1-.4-.2-.1 0-.1 0-.2-.1-.1 0-.1 0-.2 0s-.2 0-.3 0h-.1c-.1 0-.2 0-.2 0h-.1c-.1 0-.2.1-.3.1-.1.1-.2.1-.4.2s-11.8 7.8-19.4 9.7c-.7.2-1.3 1-1.3 1.9zm4 1.5c6.7-2.1 15-7.2 18-9.1 3 1.9 11.3 7 18 9.1v20c-1.1 2.1-6.7 12.1-18 17.3-11.3-5.2-16.9-15.2-18-17.3z"></path><path d="m28.6 38.4c.4.4.9.6 1.4.6s1-.2 1.4-.6l9.9-9.9c.8-.8.8-2 0-2.8s-2-.8-2.8 0l-8.5 8.5-4.5-4.5c-.8-.8-2-.8-2.8 0s-.8 2 0 2.8z"></path></g></svg>
                            <strong>מוצר אינוקים מקורי</strong> 
                        </li>
                    </ul>
               
                </div> -->
                <div class="py-3 border-top border-bottom">
                  <ul class="list-unstyled mb-0 pdp-list row row-cols-1 row-cols-md-2 g-3">
                    
                    <!-- Delivery -->
                    <li class="d-flex align-items-start gap-3">
                      <span class="flex-shrink-0">
                        <svg class="as-svgicon-rtl-mirrored as-svgicon as-svgicon-boxtruck as-svgicon-reduced as-svgicon-boxtruckreduced" viewBox="0 0 25 25" role="img" aria-hidden="true" width="25px" height="25px"><path fill="none" d="M0 0h25v25H0z"></path><path fill="#1d1d1f" d="m23.482 12.847-2.92-3.209A1.947 1.947 0 0 0 18.985 9H17V6.495a2.5 2.5 0 0 0-2.5-2.5h-11a2.5 2.5 0 0 0-2.5 2.5v9.75a2.5 2.5 0 0 0 2.5 2.5h.548A2.746 2.746 0 0 0 6.75 21.02 2.618 2.618 0 0 0 9.422 19h6.681a2.744 2.744 0 0 0 5.347-.23h.735A1.656 1.656 0 0 0 24 16.98v-2.808a1.937 1.937 0 0 0-.518-1.325ZM8.426 18.745a1.74 1.74 0 0 1-3.352 0 1.577 1.577 0 0 1 .015-1 1.738 1.738 0 0 1 3.322 0 1.578 1.578 0 0 1 .015 1ZM9.447 18a2.726 2.726 0 0 0-5.394-.255H3.5a1.502 1.502 0 0 1-1.5-1.5v-9.75a1.502 1.502 0 0 1 1.5-1.5h11a1.502 1.502 0 0 1 1.5 1.5V18Zm10.972.77a1.738 1.738 0 0 1-3.337 0 1.573 1.573 0 0 1 0-1 1.742 1.742 0 1 1 3.337 1ZM23 16.98c0 .569-.229.79-.815.79h-.735A2.73 2.73 0 0 0 17 16.165V10h1.986a.976.976 0 0 1 .838.314l2.927 3.214a.95.95 0 0 1 .249.644Zm-1.324-3.36a.512.512 0 0 1 .174.38h-3.306a.499.499 0 0 1-.544-.528V11h1.073a.76.76 0 0 1 .594.268Z"></path></svg>
            
                      </span>
                      <div>
                        <strong>משלוח:</strong> <span class="text-muted">עד 5 ימי עסקים</span>
                      </div>
                    </li>
                
                    <!-- Pickup Locations -->
                    <li class="d-flex align-items-start gap-3">
                      <span class="flex-shrink-0">
                         <svg height="511pt" viewBox="0 1 511.99981 511" width="511pt" xmlns="http://www.w3.org/2000/svg"><path d="m506.8125 111.230469-199.40625-109.496094c-2.996094-1.6445312-6.628906-1.6445312-9.625 0l-75.160156 41.269531c-1.585938.417969-3.066406 1.214844-4.292969 2.359375l-119.949219 65.867188c-3.199218 1.753906-5.1875 5.113281-5.1875 8.765625v132.429687c-20.234375 6.328125-38.777344 17.488281-54.195312 32.910157-40.1875 40.183593-50.433594 101.472656-25.496094 152.507812 2.421875 4.960938 8.410156 7.019531 13.371094 4.59375 4.964844-2.425781 7.019531-8.414062 4.597656-13.375-21.1875-43.363281-12.480469-95.4375 21.667969-129.585938 21.355469-21.355468 49.746093-33.117187 79.945312-33.117187s58.589844 11.761719 79.945313 33.117187c21.351562 21.351563 33.113281 49.742188 33.113281 79.941407s-11.761719 58.589843-33.117187 79.945312c-34.148438 34.148438-86.222657 42.855469-129.585938 21.667969-4.960938-2.425781-10.949219-.367188-13.371094 4.59375-2.425781 4.964844-.371094 10.953125 4.59375 13.375 18.589844 9.085938 38.535156 13.5 58.335938 13.5 34.542968-.003906 68.625-13.449219 94.171875-38.996094 11.714843-11.714844 20.972656-25.230468 27.523437-39.921875l43.089844 23.660157c1.5.824218 3.15625 1.234374 4.8125 1.234374s3.316406-.410156 4.8125-1.234374l199.40625-109.492188c3.199219-1.757812 5.1875-5.117188 5.1875-8.765625v-69.496094c0-5.523437-4.476562-10-10-10s-10 4.476563-10 10v63.578125l-179.375 98.496094v-196.171875l59.199219-32.507813v51.53125c0 3.539063 1.867187 6.8125 4.910156 8.609376 1.570313.925781 3.328125 1.390624 5.089844 1.390624 1.65625 0 3.316406-.410156 4.820312-1.238281l42.730469-23.519531c3.195312-1.757812 5.175781-5.113281 5.175781-8.757812v-62.460938l57.449219-31.542969v52.597657c0 5.523437 4.476562 10 10 10s10-4.476563 10-10v-69.496094c0-3.648438-1.988281-7.011719-5.1875-8.765625zm-204.21875-89.324219 178.628906 98.089844-56.347656 30.941406-178.628906-98.089844zm0 196.175781-178.628906-98.085937 58.414062-32.078125 178.632813 98.085937zm79.191406-43.484375-178.628906-98.085937 22.3125-12.253907 178.632812 98.085938zm-154.617187 110.738282c-25.132813-25.132813-58.546875-38.972657-94.085938-38.972657-6.722656 0-13.363281.496094-19.890625 1.46875v-110.9375l179.4375 98.53125v196.171875l-31.144531-17.101562c3.066406-11.289063 4.652344-23.0625 4.652344-35.078125 0-35.539063-13.839844-68.953125-38.96875-94.082031zm187.386719-60.347657-22.730469 12.511719v-45.597656l22.730469-12.480469zm0 0"></path><path d="m502 219.441406c-2.628906 0-5.210938 1.070313-7.070312 2.929688-1.859376 1.859375-2.929688 4.4375-2.929688 7.070312 0 2.628906 1.070312 5.207032 2.929688 7.066406 1.859374 1.863282 4.441406 2.929688 7.070312 2.929688s5.210938-1.066406 7.070312-2.929688c1.859376-1.859374 2.929688-4.4375 2.929688-7.066406 0-2.632812-1.070312-5.210937-2.929688-7.070312-1.859374-1.859375-4.441406-2.929688-7.070312-2.929688zm0 0"></path><path d="m99.457031 389.417969c2.558594 0 5.121094-.976563 7.070313-2.925781 3.90625-3.90625 3.90625-10.238282 0-14.144532l-6.925782-6.929687h59.101563c14.335937 0 26 11.664062 26 26 0 14.335937-11.664063 26-26 26h-35.019531c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 9.996093 10 9.996093h35.019531c25.363281 0 46-20.632812 46-45.996093s-20.636719-45.996094-46-45.996094h-59.101563l6.925782-6.929687c3.90625-3.90625 3.90625-10.238282 0-14.144532-3.902344-3.902344-10.234375-3.902344-14.140625 0l-24 24c-3.902344 3.90625-3.902344 10.238282 0 14.144532l24 23.996093c1.953125 1.953125 4.511719 2.929688 7.070312 2.929688zm0 0"></path><path d="m46.074219 476.449219c-2.84375 0-5.667969-1.210938-7.640625-3.558594l-.019532-.023437c-3.554687-4.226563-3.007812-10.53125 1.21875-14.085938 4.226563-3.558594 10.535157-3.011719 14.089844 1.214844 3.550782 4.230468 3.015625 10.546875-1.210937 14.101562-1.878907 1.578125-4.164063 2.351563-6.4375 2.351563zm0 0"></path></svg>      
                      </span>
                      <div>
                        <strong>איסוף עצמי:</strong>
                        <ul class="list-unstyled mb-0 ps-3 mt-1 small">
                          <li class="text-muted">סניף הבורסה</li>
                          <li class="text-muted">סניף חיפה</li>
                        </ul>
                      </div>
                    </li>
                
                    <!-- Authentic Product -->
                    <li class="d-flex align-items-start gap-3">
                      <span class="flex-shrink-0">
                        <svg id="Layer_1" enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><path d="m10 16v22c0 .3.1.6.2.8.3.6 6.5 13.8 21 20h.1.1c.2 0 .3.1.5.1s0 0 0 0c.2 0 .3 0 .5-.1h.1.1c14.5-6.2 20.8-19.4 21-20 .1-.3.2-.5.2-.8v-22c0-.9-.6-1.7-1.5-1.9-7.6-1.9-19.3-9.6-19.4-9.7-.1-.1-.2-.1-.4-.2-.1 0-.1 0-.2-.1-.1 0-.1 0-.2 0s-.2 0-.3 0h-.1c-.1 0-.2 0-.2 0h-.1c-.1 0-.2.1-.3.1-.1.1-.2.1-.4.2s-11.8 7.8-19.4 9.7c-.7.2-1.3 1-1.3 1.9zm4 1.5c6.7-2.1 15-7.2 18-9.1 3 1.9 11.3 7 18 9.1v20c-1.1 2.1-6.7 12.1-18 17.3-11.3-5.2-16.9-15.2-18-17.3z"></path><path d="m28.6 38.4c.4.4.9.6 1.4.6s1-.2 1.4-.6l9.9-9.9c.8-.8.8-2 0-2.8s-2-.8-2.8 0l-8.5 8.5-4.5-4.5c-.8-.8-2-.8-2.8 0s-.8 2 0 2.8z"></path></g></svg>

                      </span>
                      <div>
                        <strong>מוצר אינוקים מקורי</strong>
                      </div>
                    </li>


                    <% if(product.name === "אינוקים CYBORG") { %>
                      <li class="d-flex align-items-start gap-3">
                        <span class="flex-shrink-0">
                          <svg id="fi_10209030" height="512" viewBox="0 0 48 48" width="512" xmlns="http://www.w3.org/2000/svg"><g style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.5"><g><path d="m31.3 27.2v16c0 2.2 1.8 4 4 4 2.2 0 4-1.8 4-4v-16z"></path><path d="m35.3 27.2v-19"></path><path d="m37.6 6.4-2.3 1.8-2.2-1.8.6-5.6h3.2z"></path><path d="m29.4 27.2h11.8"></path><g><path d="m33.9 30.4v9"></path><path d="m36.8 30.4v9"></path></g><path d="m31.3 42.2h8"></path></g><g><path d="m22.9 40.1c0 3.1-1.8 5.9-4.5 7.2v-5.5l-3.6-2.2-3.6 2.2v5.5c-2.6-1.3-4.4-4-4.4-7.2 0-3.3 2-6.2 4.9-7.4v-17.4c-2.9-1.2-4.9-4.1-4.9-7.4 0-3.1 1.8-5.9 4.5-7.2v5.5l3.6 2.2 3.6-2.2v-5.4c2.6 1.3 4.4 4 4.4 7.2 0 3.3-2 6.2-4.9 7.4v17.3c2.9 1.2 4.9 4 4.9 7.4z"></path><path d="m14.9 17.6v12.8"></path></g></g></svg>
                        </span>
                        <div>
                          <strong>הרכבה והתקנה חינם!</strong>
                        </div>
                      </li>
                   <% } %>
             
                
                  </ul>
                </div>
                
                <div class="price mb-3">
                </div>
                <form action="" id="addToCart">


                  <% if(product._id.toString() === "684e9652b943e931b94d51ed") { %>

                    <div class="mb-3" id="palletSelection">
                    <button type="button" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#palletGridModal">
                      בחר פלטה
                    </button>
                  </div>
                    <input type="hidden" name="palletImg" id="selectedVariantId">
                    <input type="hidden" name="colors" id="selectedVariantPalletId">
                 <% }  %>

               

                    <div class="mb-3">
                       <small>כמות</small>
                        <input type="number" name="quantity" value="1" class="form-control">
                    </div>


                    <% if (product.colors && product.colors.length > 0 && product._id.toString() !== "684e9652b943e931b94d51ed") { %>
                      <div class="mb-3">
                        <small>צבע</small>
                        <select name="colors" class="form-control">
                          <% product.colors.forEach(function(color) { %>
                            <option value="<%= color %>"><%= color %></option>
                          <% }); %>
                        </select>
                      </div>
                    <% } %>
               
                    <input type="hidden" name="prdId" value="<%=product._id  %>">
                    <button type="submit" class="btn btn-primary w-100">הוסף לסל</button>
                </form>

                <div class="py-3 border-bottom">
                    <h5>
                        צריכים רגע להחליט?
                    </h5>  
                    <p>שמור את כל הבחירות שלך על ידי שמירת המוצר  ב-ברשימה שלך, ולאחר מכן חזור בכל עת ותמשיך היכן שהפסקת.</p>
                        
                    <svg width="21" height="21" class="as-svgicon as-svgicon-bookmark as-svgicon-tiny as-svgicon-bookmarktiny" role="img" aria-hidden="true"><path fill="none" d="M0 0h21v21H0z"></path><path d="M12.8 4.25a1.202 1.202 0 0 1 1.2 1.2v10.818l-2.738-2.71a1.085 1.085 0 0 0-1.524 0L7 16.269V5.45a1.202 1.202 0 0 1 1.2-1.2h4.6m0-1H8.2A2.2 2.2 0 0 0 6 5.45v11.588a.768.768 0 0 0 .166.522.573.573 0 0 0 .455.19.644.644 0 0 0 .38-.128 5.008 5.008 0 0 0 .524-.467l2.916-2.885a.084.084 0 0 1 .118 0l2.916 2.886a6.364 6.364 0 0 0 .52.463.628.628 0 0 0 .384.131.573.573 0 0 0 .456-.19.768.768 0 0 0 .165-.522V5.45a2.2 2.2 0 0 0-2.2-2.2Z"></path></svg>
                    שמירה
                </div>
                <div class="py-3">
                    <svg width="25" height="25" class="as-svgicon as-svgicon-chat as-svgicon-reduced as-svgicon-chatreduced" role="img" aria-hidden="true"><path fill="none" d="M0 0h25v25H0z"></path><path d="M22.855 12.34a4.685 4.685 0 0 0-1.237-1.489 6.255 6.255 0 0 0-1.84-1.005 6.503 6.503 0 0 0-2.05-.352 1.276 1.276 0 0 0-.201-.01 6.582 6.582 0 0 0-.895.06 6.233 6.233 0 0 0-3.187 1.307 4.856 4.856 0 0 0-1.247 1.488 3.864 3.864 0 0 0-.452 1.84 3.796 3.796 0 0 0 .543 1.99 3.436 3.436 0 0 0 .512.694 4.234 4.234 0 0 0 .825.754.705.705 0 0 0 .1.08 6.682 6.682 0 0 0 2.071.925 7.043 7.043 0 0 0 1.71.211c.21 0 .412-.01.623-.02h.01l.07.01a8.802 8.802 0 0 0 1.075.604c.362.17.694.311 1.006.422a2.543 2.543 0 0 0 .744.151.525.525 0 0 0 .362-.12.461.461 0 0 0 .151-.312.537.537 0 0 0-.13-.362c-.101-.12-.232-.282-.373-.483a4.054 4.054 0 0 1-.392-.563c-.01-.02 0-.1.04-.11a4.434 4.434 0 0 0 1.9-1.599 3.997 3.997 0 0 0 .714-2.272 3.864 3.864 0 0 0-.452-1.84zm-1.096 3.548a3.4 3.4 0 0 1-1.488 1.247.893.893 0 0 0-.554.522c-.09.252.526 1.07.616 1.31a31.727 31.727 0 0 1-1.799-1.016.89.89 0 0 0-.528-.143h-.07c-.19.01-.248.02-.43.02a5.91 5.91 0 0 1-1.457-.18 5.98 5.98 0 0 1-1.347-.534c-.14-.08-.271-.16-.402-.251a3.53 3.53 0 0 1-.513-.412 3.663 3.663 0 0 1-.633-.794 2.765 2.765 0 0 1-.402-1.478 2.695 2.695 0 0 1 .342-1.357 3.79 3.79 0 0 1 .985-1.187 5.028 5.028 0 0 1 1.538-.834 5.234 5.234 0 0 1 1.397-.291c.17-.01.342-.02.513-.02s.342.01.512.02a5.225 5.225 0 0 1 1.408.291 5.028 5.028 0 0 1 1.538.835 3.757 3.757 0 0 1 .985 1.176 2.864 2.864 0 0 1 .332 1.367 2.994 2.994 0 0 1-.543 1.71zM15.757 6.65a8.706 8.706 0 0 0-2.624-1.438 9.186 9.186 0 0 0-3.097-.512 11.696 11.696 0 0 0-3.507.513A8.76 8.76 0 0 0 3.895 6.65a6.815 6.815 0 0 0-1.759 2.132 5.528 5.528 0 0 0-.643 2.614 6.602 6.602 0 0 0 1.025 3.537 6.956 6.956 0 0 0 2.714 2.342.143.143 0 0 1 .03.11 6.55 6.55 0 0 1-.542.795c-.211.282-.382.513-.533.684a.789.789 0 0 0-.18.523.637.637 0 0 0 .21.442.76.76 0 0 0 .523.171 3.458 3.458 0 0 0 1.056-.221c.432-.151.915-.352 1.437-.593a14.798 14.798 0 0 0 1.498-.835.135.135 0 0 1 .05-.03c.282.02.963.03 1.245.03a8.894 8.894 0 0 0 2.374-.322l.1-.03a5.114 5.114 0 0 1-.764-.854 7.437 7.437 0 0 1-1.71.2c-.25 0-.912-.01-1.164-.03h-.08a1.156 1.156 0 0 0-.594.182 14.082 14.082 0 0 1-1.397.784 13.142 13.142 0 0 1-1.287.533l.03-.03a9.423 9.423 0 0 0 .603-.905 1.069 1.069 0 0 0 .08-.845 1.056 1.056 0 0 0-.533-.653 6.03 6.03 0 0 1-2.341-2.011 5.628 5.628 0 0 1-.845-2.974 4.413 4.413 0 0 1 .523-2.142 5.784 5.784 0 0 1 1.518-1.82A7.548 7.548 0 0 1 6.85 6.168a10.566 10.566 0 0 1 3.185-.463 8.025 8.025 0 0 1 2.766.463 7.487 7.487 0 0 1 2.322 1.267 6.767 6.767 0 0 1 .895.884 6.369 6.369 0 0 1 1.166-.12 7.144 7.144 0 0 0-1.428-1.549z"></path></svg>
                    <strong>צריכים עזרה? </strong>
                    <a href="/contact-us">צור קשר</a>
                </div>


            </div>  
            <div class="col-12 col-md-8 p-3">

                <div class="d-block d-md-none">
                    <h1 class="d-flex align-items-center prdHeader"> <%= product.name  %> 
                    
                             <img src="/optimized/offitial.jpeg" alt="">
                            
                            </h1>
                    <span id="prdPrice"> <%= formatter.format(product.price)  %> </span>
                </div>


                <div class="splide" id="p-gallery" aria-label="Product Images">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <% if (product && product.gallery.length > 0) { %>
                        <% product.gallery.forEach((img, index) => { %>
                          <li class="splide__slide">
                            <img class="mainProductImage" src="<%= img.startsWith('http') ? img : `${s3path}${img}` %>" alt="Product Image <%= index + 1 %>">
                          </li>
                        <% }); %>
                      <% } else { %>
                        <li class="splide__slide">
                          <img class="mainProductImage" src="https://d3kxrpm9y5cv3a.cloudfront.net/optimized/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_600x.webp" alt="No Image Available">
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
            </div>  

        </div>



        <% if(product.description) { %>
          <div class="container mb-3 border-top py-3">
            <h2>תיאור המוצר</h2>
            <%- product.description  %>
        </div>
       <% } %>


       


        <% if (relatedProducts && relatedProducts.length > 0) { %>
            <section class="related-products my-5">
              <h2 class="mb-4 text-center">אולי יעניין אותך גם</h2>
              <div class="row">
                <% relatedProducts.forEach(prod => { %>
                  <div class="col-md-4 mb-3">
                    <a href="/products/<%= prod.slug %>" class="text-center text-dark h-100 text-decoration-none">
                      <img src="<%= prod.overviewImage || '/img/default-product.jpg' %>" class="card-img-top" alt="<%= prod.title %>">
                      <div class="">
                        <h5 class=""><%= prod.title %></h5>
                        <p class="">
                          <%= (prod.price || 0) %> ₪
                        </p>
                      </div>
                    </a>
                  </div>
                <% }) %>
              </div>
            </section>
          <% } %>
    </div>
</main>

<%- include("./partials/footer.ejs") %>
<%-  include('./partials/modals/pallets.ejs',product ) %>


