<%- include("./partials/navbar.ejs", { customClass: customClass }) %>

<header class="text-center p-3 p-md-5">
    <h1>הכר את האינוקים שלך</h1>
    <p>בחרו את האינוקים שלכם למטה כדי לצפות בסדרת סרטונים המכסים את כל מה שאתם צריכים לדעת.</p>
</header>

<main id="modelsSupport" class="container py-0 pb-3 pb-md-0 py-md-5">
    
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <% if(data && data.length > 0) { %>

            <% data.forEach(el =>{ %>
          
              <a href="/support/<%= el.slug  %>" class="inokim-model d-flex flex-column align-items-center justify-content-center">
              <div class="inokim-model d-flex flex-column align-items-center justify-content-center">
               
                <%- optimizeImage(`${el.modelImg}`, `${el.modelName}` , 'img-fluid') %>
          
              
                  <%- el.modelLogoSvg  %>
                  <h5> <%= el.modelName  %> </h5>
                </div>
              </a>
          <% }) %>

         <% } %>
      
    
        </div>


</main>


<%- include("./partials/footer.ejs") %>

